.mat-toolbar {
    background-color: white;
}

p {
    word-wrap: break-word;
    a {
        text-decoration: none;
    }
}

mat-form-field {
    width: 100%;
}

a.whatsapp {
    background-color: #25D366;
    color: white;
}
