<mat-toolbar>Invitacion</mat-toolbar>
<div class="container" fxLayout="column" fxLayoutGap="8px">

    <mat-card>
        <mat-card-subtitle>Vista previa</mat-card-subtitle>
        <mat-card-content>
            <p>{{mensaje}}</p>
            <p><a [href]="urlConfirmacion" color="primary">{{urlConfirmacion}}</a></p>
        </mat-card-content>
    </mat-card>

    <mat-form-field appearance="outline">
        <mat-label>Mensaje</mat-label>
        <textarea matInput [(ngModel)]="mensaje" rows="5"></textarea>
    </mat-form-field>

    <a class="whatsapp" [href]="whatsappLink" mat-stroked-button color="teal" (click)="vista.dismiss()">Enviar por WhatsApp</a>

</div>