<div class="firebase-orange-color-2 login-container">
  <div fxLayout="column">
    <div fxLayoutAlign="center center" class="text-white title">
        Invitados App
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput>    
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput>    
    </mat-form-field>
  
    <div fxLayoutAlign="center center">
        <button mat-button class="text-white">Entrar</button>
    </div>
  </div>
</div>

<div class="footer-container">
   <div fxLayout="column">
        <button mat-raised-button>Entrar</button>
        <button mat-raised-button>Entrar</button>
   </div>
</div>