<mat-toolbar>
    <!-- <span>{{nombre ? 'Información de ' + nombre : 'Información del invitado'}}</span> -->
    <span>Información del invitado</span>
    <span class="spacer"></span>
    <button *ngIf="invitado.id" mat-button color="primary" (click)="onInvitar()">Invitar</button>

</mat-toolbar>

<form [formGroup]="form" fxLayout="column" fxLayoutAlign="space-between stretch">

    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" class="my-padding">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Correo</mat-label>
            <input matInput formControlName="correo">
        </mat-form-field>
    </div>


    <!-- <app-invitacion [invitado]="invitado"></app-invitacion> -->
    <mat-toolbar>
        <span>Acompañantes</span>
    </mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="my-padding">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Agregar acompañante</mat-label>
            <input #input matInput [formControl]="nombre" placeholder="Nombre">
        </mat-form-field>
        <button mat-icon-button color="primary" type="button" (click)="onAdd(); input.focus();"
            [disabled]="nombre.invalid">
            <mat-icon>person_add</mat-icon>
        </button>
    </div>

    <!-- Lista de acompañantes -->
    <div class="invitados">
        <div *ngIf="sinInvitados" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <mat-icon>people</mat-icon>
            <span>Sin acompañantes</span>
        </div>
        <mat-list formArrayName="invitados">
            <mat-list-item *ngFor="let item of invitados.controls; let i=index">
                <span>{{item.value}}</span>
                <span class="spacer"></span>
                <button mat-icon-button>
                    <mat-icon color="accent" (click)="onRemove(i); input.focus()">delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </div>

</form>

 <!-- botones -->
 <div class="my-padding" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="8px">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
        <button mat-stroked-button fxFlex routerLink="..">Cancelar</button>
        <button mat-stroked-button color="accent" fxFlex (click)="onGuardar()">Guardar</button>
    </div>
</div>