::ng-deep .mat-form-field-wrapper {
    padding: 0;
}

form {
    padding: 0 16px;
}

.mat-toolbar {
    background-color: white;
}

.invitados {
    padding: 0 16px;
}

.sin-invitados {
    margin: 10px 0;
    padding: 64px;
    border: 1px solid;
    border-radius: 8px;
}

.action-buttons {
    position: sticky;
    bottom: 64px;
    padding: 8px 16px;
}
